<nav class=" navbar navbar-inverse navbar-labels navbar-fixed-top">
  <div class="container-xxl d-flex align-items-md-center container-fluid">
    
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="/static/img/pic1.jpeg" width="150" height="25"></a>
    </div>
    
    <div id="navbar" class=" navbar">
      <ul class="nav nav-pills navbar-left">
        <li><a href="/">Home</a></li>
        <li><a href="/proflist">Faculty List</a></li>
        <li><a href="/about">About Us</a></li>
      </ul>

      <ul class="nav nav-pills navbar-right">
        {% if session.logged_in %}
        <li><a href="/log">Log Table</a></li>
        <li><a href="/editinfo">Edit Profile</a></li>
        <li><a href="/viewprofile">{{session['username']}}</a></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/">Sign In</a></li>
        <li><a href="/register">Sign up</a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>