  <form method="POST" action="{{ url_for('saveinfo') }}">
    <div class="form-group">
      <label for="duration">Days</label>
      <input type="text" class="form-control" id="duration" name="duration" placeholder="Enter number of days">
    </div>
    <div class="form-group">
      <label for="start_date">Start Date</label>
      <input type="email" class="form-control" id="start_date" name="start_date" placeholder="Enter start date">
    </div>
    <div class="form-group">
      <label for="comment">Commment</label>
      <input type="text" class="form-control" id="comment" name="comment" placeholder="Add Comment">
    </div>
    <br /> <center> <button type="submit" class="btn btn-primary">Save</button></center>
  </form>