<form method="POST" action="{{ url_for('updateinfo') }}">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{user_data['name']}}">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{user_data['email']}}">
  </div>
  <div class="form-group">
    <label for="background">background</label>
    <input type="background" class="form-control" id="background" name="background" placeholder="background" value="{{user_data['background']}}">
  </div>
  <div class="form-group">
    <label for="designation">Designation</label>
    <select class="form-control" id="designation" name="designation" value="{{user_data['designation']}}">
      <option value="Director">Director</option>
      <option value="DFA">Dean Faculty Affairs</option>
      <option value="ADFA">Associate Dean Faculty Affairs</option>
      <option value="HoD">Head of Department</option>
      <option value="Faculty" selected>Faculty</option>
    </select>
  </div>
   <div class="form-group">
    <label for="department">Department</label>
    <select class="form-control" readonly id="department" name="department" value="{{user_data['department']}}">
      <option value="CSE">Computer Science and Engineering</option>
      <option value="EE">Electrical Engineering</option>
      <option value="ME">Mechanical Engineering</option>
      <option value="CE">Civil Engineering</option>
      <option value="CHE">Chemical Engineering</option>
    </select>
  </div>
  <div class="form-group">
    <label for="research">Research area</label>
    <div id="res_areas" name="res_areas">
       <button id="add_r_button" class="btn add-more" type="button" onclick="addResearch()">+ add research</button>
       {% for i in range(user_data['research']|length) %}
         {% set var = "research"+(i+10)|string%}
         <input typr="text" class="form-control" id={{var}} name = {{var}} value="{{user_data['research'][i]}}">
      {% endfor %}
      
  </div>
  <div class="form-group">
    <label for="course">course</label>
    <div id="course_areas" name="course_areas">
       <button id="add_r_button" class="btn add-more" type="button" onclick="addcourse()">+ add course</button>
       {% for i in range(user_data['course']|length) %}
         {% set var = "course"+(i+10)|string%}
         <input typr="text" class="form-control" id={{var}} name = {{var}} value="{{user_data['course'][i]}}">
      {% endfor %}
      
  </div>
  <div>
    <label for="publications">Publications</label>
    <div id ="publications">
      <button id="add_r_button" class="btn add-more" type="button" onclick="addPublication()">+ add publication</button>
      {% for i in range(user_data['title']|length) %}
         {% set var = "title"+(i+10)|string%}
         {% set var2 = "description"+(i+10)|string%}
         <input typr="text" class="form-control" id={{var}} name = {{var}} value="{{user_data['title'][i]}}">
         <input typr="text" class="form-control" id={{var2}} name = {{var2}} value="{{user_data['description'][i]}}"><br>
      {% endfor %}
    </div>
  </div>
  <br /> <center> <button type="submit" class="btn btn-primary">Update</button></center>
</form>