{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">
  <h2>About Us</h2>
</div>

<center>

<p><b>Project Description: </b>This is a web portal for Faculty Leave managment portal. Faculty can also add their backgrounds, research work, courses taught, and publications made.
</p>
<p><b>Developers: </b>Aryansh Kurmi (2018EEB1141) and Suvansh Bhargava (2018CEB1032), 3rd year UG students at IIT Ropar.</p>
<p><b>Technologies Used: </b>Flask,  Javascript, MongoDb, HTML, CSS/Bootstrap3</p>

</center>

{% endblock %}