{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h2>About Us</h2>
</div>
<center>
<p><b>Project Description: </b>This is a web portal for Faculty Details. Faculty can save and update their data and user can view faculty profile.
</p>
<p><b>Developers: </b>Suvansh Bhargava(2018CEB1032) and Aryansh Kurmi(2018EEB1141), 3rd year UG students at IIT Ropar.</p>
<p><b>Technologies Used: </b>Flask, Javascript, MongoDb, Bootstrap/CSS and HTML.</p>
</center>
{% endblock %}