{% extends 'layout.html' %}

{% block body %}

  <div class="jumbotron text-center"><h2>Please Enter your Profile Data To Complete your Registration</h2></div>

  <div class="container">  
  <form method="POST" action="{{ url_for('saveinfo') }}">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="background">background</label>
    <input type="background" class="form-control" id="background" name="background" placeholder="background">
  </div>
 
  <div class="form-group">
    <label for="designation">Designation</label>
    <select class="form-control" id="designation" name="designation">
      <option value="Director">Director</option>
      <option value="DFA">Dean Faculty Affairs</option>
      <option value="ADFA">Associate Dean Faculty Affairs</option>
      <option value="HoD">Head of Department</option>
      <option value="Faculty" selected>Faculty</option>
    </select>
  </div>
  <div class="form-group">
    <label for="department">Department</label>
    <select class="form-control" id="department" name="department">
      <option value="CSE" selected>Computer Science and Engineering</option>
      <option value="EE">Electrical Engineering</option>
      <option value="ME">Mechanical Engineering</option>
      <option value="CE">Civil Engineering</option>
      <option value="CHE">Chemical Engineering</option>
    </select>
  </div>
  <div class="form-group">
    <label for="course">course</label>
    <div id="course_areas" name="course_areas">
       <button id="add_r_button" class="btn add-more" type="button" onclick="addcourse()">+ add course</button>
       </div>
  </div>
  <div class="form-group">
    <label for="research">Research area</label>
    <div id="res_areas" name="res_areas">
       <button id="add_r_button" class="btn add-more" type="button" onclick="addResearch()">+ add research</button>
       </div>
  </div>
  <div>
    <label for="publications">Publications</label>
    <div id ="publications">
      <button id="add_r_button" class="btn add-more" type="button" onclick="addPublication()">+ add publication</button>
    </div>
  </div>
  <br /> <center> <button type="submit" class="btn btn-primary">Update</button></center>
</form>
  </div>
{% endblock %}